html {
  background-color: #f9f9f9;
  background-image: url('Pictures/galaxy.gif');
}

body {
  font-family: seravek, arial, sans-serif;
  color: #ffffff;
  padding: 1em;
  max-width: 40em;
  margin: auto;
  font-size: 1.15em
}

a {
  text-decoration: none
}

a:hover {
  text-decoration: underline
}

footer p {
  font-weight: 700
}

@media(prefers-color-scheme:light) {
  html {
    background-color: #f9f9f9;
    color: #1b1b1b
  }
}
