body{
background: #000000 no-repeat;
}
h1,h2{
font-size: 30px;
color: #ffffff;
}
.container{
     width: 800px;
            margin: auto;
            color: #FFF;
            font-size: 25px;
}
.container #content{
    border: dashed 2px #CCC;
                padding: 10px;
}