body{
background: #000000 no-repeat;
}
h1,h2{
font-size: 30px;
color: #ffffff;
text-align: center;
}
.container{
     width: 800px;
            margin: auto;
            color: #FFF;
            font-size: 25px;
}
.container #content{
    border: dashed 2px #CCC;
                padding: 10px;
}
#reset{
    padding:  10px 20px;
    background-color: aqua;
    border: none;
    color: #ffffff;
    cursor: pointer;
      box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
  font-size: 100%;
  border-radius: 0.6em;

}
#reset:hover{
    color: aqua;
    background-color: #ffffff;
    box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
}
#viewContent{
    padding-left: 20px;
}
