
body{
 background-image: linear-gradient(to top, #051937, #171228, #190a1a, #12040d, #000000);
    background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: cover;   
 font-family: 'Press Start', sans-serif;
font-family: 'Press Start K', sans-serif;
}

h1,
h2 {
    padding-top: 0.3em;
  font-size: 30px;
  color: #ffffff;
  text-align: center;
}
.image{
    padding-bottom: 10px;
}
select{
    margin-bottom: 10px;
    font-family: 'Press Start', sans-serif;
font-family: 'Press Start K', sans-serif;
font-size: 70%;
}
.container {
  width: 800px;
  margin: auto;
  color: #fff;
  font-size: 25px;
}
.container #content {
  border: dashed 10px #ffffff;
  padding: 10px;
}
#reset {
  padding: 10px 20px;
  background-color: #ffffff;
  border: none;
  color: #ffffff;
  cursor: pointer;
  box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
  font-size: 100%;
  border-radius: 0.6em;
}
#reset:hover {
  color: aqua;
  background-color: #ffffff;
  box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
}
#viewContent {
  padding-left: 20px;
}
button{
font-family: 'Press Start', sans-serif;
font-family: 'Press Start K', sans-serif;
font-size: 70%;
}