@charset "utf-8";
/* CSS Document */
* {
  margin: 0;
  padding: 0;
}
html {
  overflow-y: scroll;
}
body {
  background-image: radial-gradient(
    circle 588px at 31.7% 40.2%,
    rgba(225, 200, 239, 1) 21.4%,
    rgba(163, 225, 233, 1) 57.1%
  );
  font-size: 13px;
  color: #000000;
  font-family: Arial, helvetica, sans-serif;
  width: 100%;
}

.container{
  width: 40%;
  min-width: 450px; 
  position: absolute;
  transform:translate(-50%, -50%);
  top: 30%;
  left: 50%;
  background: #e2a0c5;
min-height: 100px;
border-radius: 10px;
}
#task{
  position: relative;
  padding: 30px 20px;
}
#task form{
  display: flex;
  width: 100%;
}
#task form input{
  width: 75%;
  height: 46px;
  border-color: 2px solid #d1d3d4;
  padding-left: 10px;
  font-family:'Times New Roman', Times, serif;
  font-size: 15px;
  font-weight: 400;
}
#task input:focus{
  outline: none;
  border-color: #0d75ec;
}
#task ul{
  list-style: none;
  color: #e0e0e0;
  padding: 0;
}
#task ul li{
 padding: 10px;
 background-color: rgba(225, 200, 239, 1);
}
.check{
  float: left;
  width: 1.8em;
  height: 1.8em;
  cursor: pointer;
  border-radius: 50%;
  background-color: white;
   border: 1px solid rgb(255, 255, 255);
  -webkit-appearance: none;
}
.check :checked{
background-color: #1dd2af;
}
.task{
font-size: 18px;
  padding: 0 10px;
}
.task:focus{
  outline: none;
}
.task ul li i {
  float: right;
  cursor: pointer;
}
#task button{
  font-size: 1em;
  position: relative;
  float:right;
  width: 20%;
  height: 45px;
  background-color:rgba(163, 225, 233, 1);
  border-radius: 10px;
  outline: none;
}
#tasks{
background-color: rgba(163, 225, 233, 1);
height: 50px;
margin-bottom: 8px;
padding: 5px 10px;
display: flex;
border-radius: 5px;
align-items: center;
justify-content: space-between;
border: 1px solid #939697;
cursor: pointer;
}
.task{
  background-color: rgba(163, 225, 233, 1);
height: 50px;
margin-bottom: 8px;
padding: 5px 10px;
display: flex;
border-radius: 5px;
align-items: center;
justify-content: space-between;
border: 1px solid #939697;
cursor: pointer;
}

ol,
ul {
  list-style: none;
  margin: 0;
}
ul li {
  margin: 0;
  padding: 0;
}
h1 {
  margin-bottom: 10px;
  color: #000000;
  font-weight: bold;
}
a,
p {
  margin: 0 0 10px;
  line-height: 1.4em;
  font-size: 1.2em;
}

wrapper {
  width: 100%;
  max-width: 1024px;
}
header nav {
  float: right;
  padding-right: 20px;
}

@media screen and (max-width: 550px) {
  body {
    width: 100%;
  }

  #skipto {
    visibility: visible;
    padding-left: auto;
    text-align: center;
    width: 100%;
    padding-top: 10px;
  }
  header {
    width: 100%;
  }
}

@media screen and (min-width: 551px) {
  #skipto {
    visibility: hidden;
  }
}
